body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

.line-through {
  text-decoration: line-through;
}

.delete-icon {
  color: #ccc;
  margin-left: 20px;
}